*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    font-family: 'PT Sans', sans-serif;
}
header{
    width: 100%;
    background: #fcdb00;
    padding-top: 55px;
}
header::after {
    content: "";
    clear: both;
    display: table;
}
.header-logo{
    font-weight: 400;
    font-size: 30px;
    cursor: pointer;
    float: left;
    margin-left: 10px;
}
.header-logo p{
    display: inline-block;
    font-weight: bold;
}
nav{
    width: 960px;
    margin: 0 auto;
}
.logo-pic{
    vertical-align: middle;
    width: 43px;
    height: 43px;
}
.logo-text{
    vertical-align: middle;
}
.menu{
    margin: 0;
    padding: 0;
    font-size: 0;
    list-style-type: none;
    float: right;
    margin-right: 10px;
    padding-top: 15px;
}
.menu li{
    padding: 0px 38px;
}
.menu li:last-child{
    padding-right: 0;
}
.menu a{
    color: black;
    text-align: right;
    font-size: 22px;
    font-weight: bold;
}
.menu li{
    display: inline;
}
main{
    width: 100%;
    background: #fcdb00;
}
#about{
    width: 960px;
    margin: 0 auto;
}
.main-about::after {
    content: "";
    clear: both;
    display: table;
}
.main-about{
    padding: 70px 0 120px 0;
}
.about-right{
    float: right;
    margin-right: 10px;
    padding-right: 43px;
}
.about-left{
    float: left;
    width: 400px;
    padding-top: 77px;
    margin-left: 10px;
}
.about-left h2{
    display: inline-block;
    font-size: 32px;
}
.about-left p{
    margin: 27px 0 30px 0;
    font-size: 20px;
    color: #313841;
}
.about-left .text{
    margin-bottom: 44px;
    font-size: 16px;
    color: #555555;
}
.about-left i{
    font-size: 40px;
    padding: 0 18px;
}
.fa-apple{
    padding-left: 0 !important;
}
#features{
    width: 960px;
    margin: 0 auto;
}
.features-text{
    text-align: center;
    padding: 0 127px;
}
.features-text h2{
    padding: 120px 0 25px;
    font-size: 32px;
}
.block{
    display: inline-block;
    width: 297px;
    margin: 0 10px 85px;
}
.features-blocks{
    margin: 0 auto;
    text-align: center;
}

.features-blocks i{
    font-size: 30px;
    vertical-align: top;
    padding-right: 20px;
    text-align: left;
}
.features-text p{
    margin-bottom: 44px;
    font-size: 20px;
    color: #555555;
}
.text-block{
    display: inline-block;
    width: 220px;
}
.text-block h3{
    font-size: 22px;
    padding-bottom: 20px;
    text-align: left;
}
.text-block p{
    font-size: 16px;
    color: #555555;
    text-align: left;
}
.pages{
    text-align: center;
    padding: 35px 0 25px;
}
.pages a{
    color: black;
    font-size: 30px;
}
footer{
    background: black;
    padding-bottom: 135px;
}
.footer-wrapper{
    width: 960px;
    margin: 0 auto;
}
.footer-text{
    text-align: center;
    width: 740px;
    margin: 0 auto;
}
.footer-text h2{
    padding: 120px 0 25px;
    font-size: 32px;
    color: #fcdb00;
} 
.footer-text p{
    margin-bottom: 44px;
    font-size: 20px;
    color: #555555;
}
.search-bar{
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}
.search-bar input[type=text] {
    width: 580px;
    height: 50px;
    border: 0px solid #fff;
    border-radius: 4px;
    padding-left: 25px;
    margin-right: 20px;
}
.search-bar input[type=submit] {
    width: 125px;
    height: 50px;
    border: 0px solid #fcdb00;
    border-radius: 4px;
    background-color: #fcdb00;
    font-weight: 700;
}
.brands-icons{
    text-align: center;
    color: #fcdb00;
    font-size: 42px;
    margin-top: 60px;
}
.brands-icons i{
    margin: 0 12px;
}
.footer-links{
    margin: 135px 0 0 10px;
}
.footer-links p,
.footer-links a{
    font-size: 16px;
    color: gray;
}
.info{
    display: inline-block;
    width: 220px;
    height: 110px;
    margin-right: 20px;
}
.links-block {
    display : inline-block;
    vertical-align: top;
    padding: 0 17px;
    margin: 0 38px;
}
.links-block a{
    display: block;
}