@font-face {
	font-family: Pompadur; /* Гарнитура шрифта */
	src: url(/fonts/Klavika-Regular.otf); /* Путь к файлу со шрифтом */
 }
body{
  background: #c4c7cb;
  background-image: -webkit-radial-gradient(cover, #FFF,#D1D1D1	);
  background-image: -moz-radial-gradient(cover, #e8eaec, #a4a8ae);
  background-image: -o-radial-gradient(cover, #e8eaec, #a4a8ae);
  background-image: radial-gradient(cover, #e8eaec, #a4a8ae)
}
html{
  min-height:100%;
}
.menu{
	height: 50px;
	padding: 0px;
	margin: 0;
	position: relative;
}
.menu li 	{
	height: auto;
	width: 150px;
	float: left;
	text-align: center;
	list-style: none;
	font: 14px "Pompadur";
	padding: 0;
	margin: 0;
	background-color: #eee;
	box-shadow: 0 1px 0 rgba(255,255,255, .9) inset, 0 1px 3px rgba(0,0,0, .1);
}
.menu li:nth-child(1n){
  background: #00aae9;
}
.menu li:nth-child(2n){
  background: #c2d900;
}
.menu li:nth-child(3n){
  background:#ffdd00;
}
.menu li:nth-child(4n){
  background: #f7941d;
}
.menu a{
	padding:13px;
	text-decoration: none;
	color: #fff;
	display: block;
}
.menu li ul{
	display: none;
	height: auto;									
	padding: 0;
}			
.menu li:hover ul{
	display: block;
	margin-top: -10px;
}
.menu li:hover, a:hover {
	text-shadow: #c2d900 0 0 2px;
	-webkit-box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.77);
	-moz-box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.77);
	box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.77);
}
.menu li.dropdown:hover a.img{
	background: url("../images/sprite.png") no-repeat;
	text-shadow: #c2d900 0 0 2px;
	-webkit-box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.77);
	-moz-box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.77);
	box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.77);
}
.menu li.dropdown:hover {
	background: url("../images/sprite.png") no-repeat;
	background-position: -250 -26px;
  cursor: pointer;
}
.img{
	background: url(../images/sprite.png) no-repeat;
  margin: 0 0 10px 0;
	border: 1px solid rgb(35, 32, 32);
	box-sizing: border-box;
	background-position: -250 -26px;
  cursor: pointer;
}
.drop{
	display: inline-block;
	background: url("../images/sprite.png") no-repeat;
	background-position: -60 -26px;
  cursor: pointer;
	/* background: #c2d900;
	background: url("../images/sprite.png") no-repeat; */
	background-size: cover;
	box-shadow: 0 1px 0 rgb(33, 30, 30) inset, 0 1px 3px rgba(0,0,0, .1);
}