*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    font-family: 'PT Sans', sans-serif;
}
header{
    width: 100%;
    background: #fcdb00;
    padding-top: 55px;
}
header::after {
    content: "";
    clear: both;
    display: table;
}
.menu-btn{
    float: left;
    font-size: 22px;
    padding-top: 13px;
}
.header-logo{
    font-weight: 400;
    font-size: 30px;
    cursor: pointer;
    float: left;
    margin-left: 380px;
}
.header-logo p{
    display: inline-block;
    font-weight: bold;
}
nav{
    width: 960px;
    margin: 0 auto;
}
.logo-pic{
    vertical-align: middle;
    width: 43px;
    height: 43px;
}
.menu{
    margin: 0;
    padding-top: 13px;
    font-size: 21px;
    list-style-type: none;
    float: right;
    margin-right: 10px;
    
}
.menu li{
    padding: 0px 38px;
}
.menu li:last-child{
    padding-right: 0;
}
.menu a{
    color: black;
    text-align: right;
    font-size: 22px;
    font-weight: bold;
}
.menu li{
    display: inline;
    border-radius: 20px;
}
main{
    width: 100%;
    background: #fcdb00;
}
#about{
    width: 960px;
    margin: 0 auto;
}
.main-about::after {
    content: "";
    clear: both;
    display: table;
}
.about-center{
    text-align: center;
    width: 740px;
    margin: 0 auto;
}
.about-center h2{
    padding: 120px 0 25px;
    font-size: 48px;
} 
.about-center p{
    margin-bottom: 44px;
    font-size: 20px;
    color: #555555;
}
.about-center i{
    font-size: 40px;
    margin: 0 17px;
}
.circle-icon {
    border: 3px solid black;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding: 19px;
}
.border-radius{
    padding-bottom: 215px;
}
#features{
    width: 960px;
    margin: 0 auto;
}
.features-text{
    text-align: center;
    padding: 0 127px;
}
.features-text h2{
    padding: 120px 0 25px;
    font-size: 32px;
}
.features-text p{
    margin-bottom: 44px;
    font-size: 20px;
    color: #555555;
}
.features-blocks{
    width: 925px;
    margin: 0 auto;
    padding-bottom: 95px;
}
.features-text p{
    margin-bottom: 44px;
    font-size: 20px;
    color: #555555;
}
.column{
    width: 220px;
    vertical-align: top;
    padding-top: 65px;
}
.column h3{
    font-size: 22px;
    padding-bottom: 20px;
    text-align: left;
}
.column p{
    font-size: 16px;
    color: #555555;
    text-align: left;
}
.i-pad{
    padding: 0 70px;
}
.text-block{
    padding-bottom: 90px;
}

.block-left{
    text-align: left;
    display: inline-block;
}
.block-center{
    text-align: center;
    width: 320px;
    display: inline-block;
}
.block-right{
    text-align: right;
    display: inline-block;
}
.inlined{
    display: inline-block;
}
footer{
    background: black;
    padding-bottom: 135px;
}
.footer-wrapper{
    width: 960px;
    margin: 0 auto;
}
.footer-text{
    text-align: center;
    width: 740px;
    margin: 0 auto;
}
.footer-text h2{
    padding: 120px 0 25px;
    font-size: 32px;
    color: #fcdb00;
} 
.footer-text p{
    margin-bottom: 44px;
    font-size: 20px;
    color: #555555;
}
.search-bar{
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}
.search-bar input[type=text] {
    width: 580px;
    height: 50px;
    border: 0px solid #fff;
    border-radius: 4px;
    padding-left: 25px;
    margin-right: 20px;
}
.search-bar input[type=submit] {
    width: 125px;
    height: 50px;
    border: 0px solid #fcdb00;
    border-radius: 4px;
    background-color: #fcdb00;
    font-weight: 700;
}
.footer-links{
    margin: 135px 0 0 10px;
}
.footer-links p,
.footer-links a{
    font-size: 16px;
    color: gray;
}
.info{
    display: inline-block;
    width: 220px;
    height: 110px;
    margin-right: 20px;
}
.links-block {
    display : inline-block;
    vertical-align: top;
    padding: 0 17px;
    margin: 0 38px;
}
.links-block a{
    display: block;
}