*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    font-family: 'PT Sans', sans-serif;
}
header{
    width: 100%;
    background: #fcdb00;
    padding-top: 55px;
}
header::after {
    content: "";
    clear: both;
    display: table;
}
.menu-btn{
    float: left;
    font-size: 22px;
    padding-top: 13px;
}
.header-logo{
    font-weight: 400;
    font-size: 30px;
    cursor: pointer;
    float: left;
    margin-left: 380px;
}
.header-logo p{
    display: inline-block;
    font-weight: bold;
}
nav{
    width: 960px;
    margin: 0 auto;
}
.logo-pic{
    vertical-align: middle;
    width: 43px;
    height: 43px;
}
.menu{
    margin: 0;
    padding-top: 13px;
    font-size: 21px;
    list-style-type: none;
    float: left;
    margin-left: 25%;
}
.menu li{
    padding: 0px 38px;
}
.menu li:last-child{
    padding-right: 0;
}
.menu a{
    color: black;
    text-align: right;
    font-size: 22px;
    font-weight: bold;
}
.menu li{
    display: inline;
    border-radius: 20px;
}
main{
    width: 100%;
    background: #fcdb00;
}
#about{
    width: 100%;
    margin: 0 auto;
}
.main-about::after {
    content: "";
    clear: both;
    display: table;
}
.about-center{
    text-align: center;
    width: 740px;
    margin: 0 auto;
}
.about-center h2{
    padding: 120px 0 25px;
    font-size: 48px;
} 
.about-center p{
    margin-bottom: 44px;
    font-size: 20px;
    color: #555555;
}
.about-center i{
    font-size: 40px;
    margin: 0 17px;
}
.circle-icon {
    border: 3px solid black;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding: 19px;
}
.border-radius{
    padding-bottom: 215px;
}
#features{
    width: 100%;
    margin: 0 auto;
}
.features-text{
    text-align: center;
    padding: 0 15px;
    padding-left: 15px;
}
.features-text h2{
    padding: 120px 0 25px;
    font-size: 32px;
}
.features-text p{
    margin-bottom: 44px;
    font-size: 20px;
    color: #555555;
}
.features-blocks{
    width: 925px;
    margin: 0 auto;
    padding-bottom: 95px;
}
.features-text p{
    margin-bottom: 44px;
    font-size: 16px;
    color: #555555;
}
.column{
    width: 220px;
    vertical-align: top;
    padding-top: 65px;
}
.column h3{
    font-size: 22px;
    padding-bottom: 20px;
    text-align: left;
}
.column p{
    font-size: 16px;
    color: #555555;
    text-align: left;
}
.i-pad{
    padding: 0 70px;
}
.text-block{
    padding-bottom: 90px;
}

.block-left{
    text-align: left;
    display: inline-block;
}
.block-center{
    text-align: center;
    width: 320px;
    display: inline-block;
}
.block-right{
    text-align: right;
    display: inline-block;
}
.inlined{
    display: inline-block;
}

footer{
    background: black;
    padding-bottom: 135px;
}
.footer-wrapper{
    width: 100%;
    margin: 0 auto;
}
.footer-text{
    text-align: center;
    width: 740px;
    margin: 0 auto;
}
.footer-text h2{
    padding: 120px 0 25px;
    font-size: 32px;
    color: #fcdb00;
} 
.footer-text p{
    margin-bottom: 44px;
    font-size: 15px;
    color: #555555;
}
.search-bar{
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}
.search-bar input[type=text] {
    width: 580px;
    height: 50px;
    border: 0px solid #fff;
    border-radius: 4px;
    padding-left: 25px;
    margin-right: 20px;
}
.search-bar input[type=submit] {
    width: 125px;
    height: 50px;
    border: 0px solid #fcdb00;
    border-radius: 4px;
    background-color: #fcdb00;
    font-weight: 700;
}
.footer-links{
    margin: 135px 0 0 130px;
}
.footer-links p,
.footer-links a{
    font-size: 16px;
    color: gray;
}
.info{
    display: inline-block;
    width: 220px;
    height: 110px;
    margin-right: 30px;
}
.links-block {
    display : inline-block;
    vertical-align: top;
    padding: 0 17px;
    margin: 0 38px;
}
.links-block a{
    display: block;
}
@media (max-width:900px) and (min-width:786px) {
    header{
        width: 100%;
    }
    main{
        width: 100%;
    }
    .header-logo{
        margin-left: 180px;
    }
    .menu-btn {
        padding-left: 41px;
    }
    .menu {
        margin-left: 7%;
    }
    .about-center {
        width: 80%;
    }
    #features {
        width: 100%;
    }
    .features-blocks {
        margin: 0 0 0 190px;
        width: 460px;
    }
    .inlined {
        display: -webkit-box;
    }
    .column {
        width: 240px;
    }
    .footer-text{
        width: 370px;
    }
    .search-bar input[type=text] {
        width: 350px;
    }
    .links-block {
        margin: 0 8px;
    }
    .footer-links {
        margin: 135px 0 0 40px;
    }   
}
@media (max-width:785px) and (min-width:680px){
    .about-center {
        width: 60%;
    }
    .header-logo{
        margin-left: 170px;
    }
    .menu{
        margin-left: 7%;
    }
    .menu-btn {
        margin-left: 50px;
    }
    .about-center h2{
        padding: 100px 0 25px;
        font-size: 41px;
    }
    .border-radius {
        padding-bottom: 140px;
    }
    .features-text h2{
        padding: 100px 0 25px;
        font-size: 32px;
    }
    .features-text p{
        font-size: 15px;
    }
    .features-blocks{
        width: 580px;
        margin: auto;
        padding-bottom: 0;
    }
    .inlined {
        display: -webkit-box;
    }
    .column{
        width: 310px;
        vertical-align: top;
        padding-top: 25px;
    }
    .i-pad {
        padding: 0 140px 50px;
    }
    .footer-text{
        width: 670px;
    }
    .submit {
        margin-top: 25px;
    }
    .footer-links {
        margin: 100px 0 0 30px;
    }
    .links-block {
        padding: 0 15px;
        margin: 0 0;
    }
}
@media (max-width:680px) and (min-width:550px){
    .header-logo {
        margin-left: 120px;
    }
    .menu {
        margin-left: 2%;
    }
    .about-center h2 {
        padding: 90px 0 25px;
        font-size: 40px;
    }
    .about-center p {
        font-size: 16px;
    }
    .menu-btn{
        padding-left: 30px;
    }
    .about-center{
        width: 556px;
    }
    .inlined {
        display: -webkit-box;
    }
    .column {
        width: 290px;
        vertical-align: top;
        padding-top: 25px;
        padding-left: 140px;
    }
    .i-pad {
        padding: 0px 119px;
    }
    .features-blocks {
        width: 558px;
    }
    .footer-text {
        width: 549px;
    }
    .column {
        width: 340px;
        padding-top: 60px;
    }
    .features-blocks {
        padding-bottom: 10px;
    }
    .footer-text p {
        font-size: 17px;
    }
    .search-bar input[type=text] {
        width: 530px;
        margin-right: 0;
    }
    .submit {
        margin-top: 25px;
    }
    .footer-links {
        margin: 100px 0 0 30px;
    }
    .links-block {
        padding: 0 7px;
        margin: 0 0;
    }
}
@media (max-width:550px) and (min-width:400px){
    .header-logo {
        margin-left: 38px;
    }
    .menu {
        margin-left: 4%;
    }
    .about-center h2 {
        padding: 90px 0 25px;
        font-size: 40px;
    }
    .about-center p {
        font-size: 16px;
    }
    .menu-btn{
        padding-left: 30px;
    }
    .about-center{
        width: 394px;
    }
    .inlined {
        display: -webkit-box;
    }
    .column {
        width: 290px;
        vertical-align: top;
        padding-top: 25px;
        padding-left: 80px;
    }
    .i-pad {
        padding: 0px 100px;
        display: none;
    }
    .features-blocks {
        width: 416px;
    }
    .footer-text {
        width: 419px;
    }
    .column {
        width: 200px;
        padding-top: 50px;
        padding-left: 0px;
    }
    .features-blocks {
        padding-bottom: 10px;
    }
    .footer-text p {
        font-size: 17px;
    }
    .search-bar input[type=text] {
        width: 410px;
        margin-right: 0;
    }
    .submit {
        margin-top: 25px;
    }
    .footer-links {
        margin: 100px 0 0 30px;
    }
    .links-block {
        padding: 20px 27px;
        margin: 0 0;
    }
}
@media (max-width:400px){
    .header-logo{
        margin-left: 40px;
    }
    .menu-btn {
        padding-left: 20px;
    }
    .menu {
        margin-left: -12px;
        margin-top: -55px;
    }
    main {
        width: 394px;
    }
    .about-center {
        width: 380px;
    }
    .about-center h2 {
        padding: 40px 0 25px;
        font-size: 28px;
    }
    .about-center p {
        font-size: 13px;
    }
    .border-radius {
        padding-bottom: 234px;
    }
    .border-radius {
        padding-bottom: 120px;
    }
    .features-text {
        text-align: center;
        padding: 0 21px;
    }
    .inlined {
        display: -webkit-box;
    }
    .column p {
        font-size: 13px;
    }
    .column {
        width: 190px;
        vertical-align: top;
        padding-top: 40px;
        padding-left: 15px;
    }
    .i-pad {
        padding: 0px 28px;
    }
    .column h3 {
        font-size: 20px;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .text-block {
        padding-bottom: 20px;
    }
    .footer-text {
        width: 300px;
    }
    .footer-text h2 {
        padding: 80px 0 25px;
        font-size: 30px;
    }
    .search-bar input[type=text] {
        width: 320px;
        margin-right: 0;
    }
    .submit {
        margin-top: 25px;
    }
    .footer-links {
        margin: 70px 0 0 22px;
    }
    .links-block {
        padding: 0 7px;
        margin: 0 0;
    }
    .features-blocks {
        width: 394px;
    }
    .links-block a {
        display: -webkit-box;
    }
    .footer-wrapper {
        width: 394px;
    }
    .links-block {
        padding: 30px 7px;
    }
    #features {
        width: 394px;
    }
    .info {
        display: inline-block;
        width: 300px;
        height: 110px;
        margin-right: 10px;
    }
    header {
        width: 394px;
    }
    nav {
        width: 394px;
    }
    .main-about{
        width: 394px;
    }
}
